.card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: solid;
    border-color: blueviolet;
    width: 40%;
    border-radius: 20px;
    margin: 2%;
    align-items: center;
    height: fit-content;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.all {
    display: grid;
    align-content: space-between;
    min-height: 100vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2%;
}

.formValue {
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}

.submit {
    display: flex;
    grid-column: 1 / span 2;
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    padding: 1%;
}

.title {
    display: flex;
    font-size: 300%;
    justify-content: center;
    margin: 2%;
}

.subtitle{
    display: flex;
    justify-content: center;
    margin: 2%;
    text-align: center;
    font-size: 150%;
}

.image{
    width: 10vw;
    border-radius: 20px;
}

@media screen and (min-width: 431px) and (max-width: 820px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .form {
        margin: 2%;
    }
    .title {
        font-size: 8vw;
    }
    .image{
        width: 20vw;
    }
}

@media screen and (max-width: 430px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .form{
        width: 100vw;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .submit {
        display: flex;
        grid-column: 1;
        width: fit-content;
        justify-self: center;
        border-radius: 10px;
        padding: 1%;
    }
    .title {
        font-size: 8vw;
    }
    .image{
        width: 30vw;
    }
}
